
body {
 backround:#000000
  color:#000000
  font-size:
}

h1 {
 color:White;
 text-align:center;
}

h2 {
color:white;
  text-align:center;
  font-size:170%;
}

p {
 color:White;
 text-align:center; 
}

.center {
 text-align:center; 
  font-size:150%;
}

h3 {
 color:black;
text-align:center;
 font-size:350%;
 font-family:Times New Roman;
}

h4 }
 color:black;
font-size:450%;
}

1st set }
width:450px;
height:400px;
}
