body {
backround: #328ba8 
color: #09235
font-size: 50px
}

h1 {
 color:White;
 text-align:center;
}

h2 {
color:white;
  text align center;
  font-size:170%;
p {
 color:White;
 text-align:center; 
}
