
h1 {
 color:White;
 text-align:center;
}

h2 {
color:white;
  text-align:center;
  font-size:170%;
}

p {
 color:White;
 text-align:center; 
}

p2 {
 text-align:center; 
  font-size:100%;
}

p3 {
 color:black;
style="color:Black;
text-align:center;
 font-size:250%;
 font-family:Times New Roman;
}
